@use "/src/styles/mixins.scss" as *;

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 16px;
  max-width: var(--max-width);
  margin: 0 auto;

  @include mobile {
    gap: 10px;
  }
}

.header {
  font-size: var(--font-size-xl);
  line-height: 120%;
  font-weight: bold;
}
